BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
AccessModifierOffset: -2
IndentCaseLabels: true
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
Cpp11BracedListStyle: true
NamespaceIndentation: All
