.venv/
.build/
.build-ninja/
build/
.dist/
dist/
compile_commands.json
.pytest_cache/
.coverage
.coverage.*
.cache
.tox/
.nox/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
.DS_Store
.env
.env.local
__pycache__/
*.pyc
*.egg-info/
node_modules/
